<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI CodeFusion</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <!-- <h1>Welcome to AI Powered <br> Code Tools</h1> -->
        <div class="card-container">
            <div class="card" id="ai-review-tool">
                <h2>AI Review Tool</h2>
                <div class="brief-box">Review your code with AI-powered feedback.</div>
                <a href="/ai-review" target="_blank" class="go-button">GO</a>
            </div>
            <div class="card" id="code-converter">
                <h2>Code Converter</h2>
                <div class="brief-box">Convert code between programming languages.</div>
                <a href="/code-converter" target="_blank" class="go-button">GO</a>
            </div>
        </div>
    </div>
</body>
</html>